/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_slideshow_auto */

.mySlides {display: none;text-align:center;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.join-us {
  position: absolute;
  left: 20px;                 /* adjust horizontally */
  top: 50%;                   /* vertical center */
  transform: translateY(-50%);
  background-color: #fcdd79;  /* your button color */
  color: black;
  border: 2px solid white;
  padding: 12px 22px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  z-index: 10;                /* ensures it sits above the image */
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.25);
  transition: 0.2s ease;
}

.join-us:hover {
  background-color: #ffed9c;  /* lighter on hover */
  transform: translateY(-50%) scale(1.05);
}

.join-us a{
  color: black;
  font-weight: bold;
}

.join-us a:hover{
  text-decoration: none;
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot-center{
	text-align:center;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.author {color: #8B6B4F;}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #8B6B4F;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(137,161,180,0.8);
  color: white;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}